<h1>Bienvenue sur Echo, {{ user }}</h1>
<p>Pour activer votre compte, veuillez cliquer sur le bouton ci-dessous</p>
<a href="http://localhost:8001/api/activation/{{ activationCode }}">Activer mon compte</a>